<footer class="footer">
    <div class="container text-center">
        <ul class="list-inline">
            <li class="list-inline-item"><a class="text-xs-center" target="_blank" href="/about">Despre</a></li>
            <li class="list-inline-item"><a class="text-xs-center" target="_blank" href="/policy">Politica de confidentialitate</a></li>
            <li class="list-inline-item"><a class="text-xs-center" target="_blank" href="/cookies">Politica de cookie-uri</a></li>
        </ul>
    </div>
</footer>
