<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <a class="navbar-brand" href="/" style="color: blueviolet">Vying</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/dns">DNS <span id="hosting">& hosting</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/web-development">Web development</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/faq">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vyingpedia">Vypedia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
        <span class="navbar-text">
            Your ip is: {{ip}}
        </span>
    </div>
</nav>

<div class="container" style="margin-top: 1%">
    <img src="/images/aboutvying.jpg" class="img-fluid rounded" alt="about how we think">
</div>
<div class="container">
    <div class="row" style="margin-top:10%;margin-bottom: 10%">
        <div class="col-lg-12 col-sm-12">
            <h1>Who are we</h1>
            <article>We are an estonian based company (zero bureaucracy and the <a href="https://leapin.eu" target="_blank">accountancy</a> together with rest of the papers are online)
                founded by two people from Romania who proposed themselves to change a small particle of the internet, for the better.<br>

                Why do we say ‘a small particle’?<br>
                Just because we can afford to take a maximum of 50 clients. <br>
                Why only 50? <br>
                Because we want to be able to offer premium services, and our human infrastructure doesn’t allow us to go above this number without compromising on something.
                If and when we reach this threshold, maybe we will take another small step. We will keep you updated on our blog.</article>
            <h1>What  are we good at?</h1>
            <article>We can build and entire web site from scratch no matter how complex it is (Node JS, Handlebars).<br>
                We can proffesionaly manage Ubuntu servers.  <br>
                We can offer a good quality web hosting, security first. <br>
                We can host and help you with your WordPress site.  <br>
                We know how to be transparent in everything that we do, because we understand how abstract this domain can be.</article>

            <h1>Ask us anything..<a href="/contact">right now</a> </h1>
            <article>  To serious questions, and especially to funny ones, we answer within an hour.</article>
        </div>
    </div>
</div>





{{> footer}}
