{{> nav}}
<div class="container" style="margin-top: 1%">
    <img src="/images/aboutvying.jpg" class="img-fluid rounded" alt="about how we think">
</div>
<div class="container">
    <div class="row" style="margin-top:10%;margin-bottom: 10%">
        <div class="col-lg-12 col-sm-12">
            <h1>Cine suntem?</h1>
            <article>O firma cu sediul in Estonia (zero birocratie, iar contabilitatea  impreuna cu restul actelor necesare se depun doar online),
                infiintata de 2 romani, care si-au propus sa schimbe in bine o mica particica din internetul romanesc. Sau si din cel romanesc.<br>

                De ce spunem ‘o mica particica’ ?<br>
                Pentru simplul motiv ca ne permitem un portofoliu de maxim 50 de clienti.<br>
                De ce doar 50?<br>
                Pentru ca ne dorim sa oferim servicii premium, iar in cazul nostru nu avem infrastructura umana pentru un portofoliu mai mare.</article>
            <h1>Ce stim sa facem?</h1>
            <article>Stim sa creem un site de la zero, indiferent de complexitatea acestuia.<br>
                Stim sa administram la modul profesional servere ce ruleaza Ubuntu. <br>
                Stim sa oferim un hosting de calitate, cu gandul mereu la securitate. <br>
                De curand am invatat sa migram si sa intretinem site-uri ce ruleaza WordPress. <br>
                Stim sa fim transparenti in tot ceea ce facem pentru ca stim cat de abstract este acest domeniu in care activam.</article>
            <h1>Intrebati-ne orice..<a href="/contact">chiar acum</a> </h1>
            <article>La intrebarile serioase, si mai cu seama la cele amuzante raspundem in maxim o ora.</article>
        </div>
    </div>
</div>





{{> footer}}
