{{> nav}}
<div class="container" id="cookies">
    <div class="row" style="margin-top: 5%;margin-bottom: 10%">
        <div class="col-lg-12 col-sm-12">
            <h1>What are cookies?</h1>
            <article>The cookie is a small file of letters and numbers that will be stored on a user’s computer, mobile terminal or other equipment from which the Internet is accessed without allowing it to be personally identified.<br>
                The cookie is installed through the request issued by the user’s terminal to a vying.io server or to a third-party server.</article>
            <h1>What kind of cookies do we use?</h1>
            <article>Only one cookie per session that allows us to show you the cookie banner. For now. <br>If we will add some more we will keep you up to date.<br>
                The cookies per session are temporary files that remain in the user’s terminal until the end of the session (or maximum one day) or until the browser is closed.<br>
                Why don't we use more cookies?<br>
                Well, because we do not have time to use the infos that cookies can deliver.And because we do not provide a login option yet.Also, because GDPR got so complicated, we prefer not to set them just to have cookies.
            </article>
            <h1> What happens if we clear cookies or block them?</h1>
            <article>
                If you want to block cookies, some site functionality will be stopped, and this may cause some malfunctions or errors in using it.<br> For example, blocking cookies can prevent you getting our cookie info. 🙂<br>
                If you agree to these limitations and want to block cookies, you can find at http://www.youronlinechoices.com/en/ very interesting informations, but also clear instructions on how to disable them on the web the browser that you are using.<br>
                On http://www.allaboutcookies.org you can find everything with and about cookies.
                Also on https://cookiepedia.co.uk you can find information about each cookie separately. 🙂<br>
                Please keep in mind that cookies are not a bad thing at ALL. They can help you track a lot of useful things on the world wide web, can help your online stores not to show stupid things and thus waste your time, but only what matters to you,
                also they can help taylor content for kids and a lot more.<br>
                We are too just like you, most of the time, internet users...🙂
            </article>
        </div>
    </div>
</div>
{{> footer}}
