{{> nav}}
<div class="container" id="cookies">
    <div class="row" style="margin-top: 5%;margin-bottom: 10%">
        <div class="col-lg-12 col-sm-12">
            <h1>What are cookies?</h1>
            <article>The cookie is a small file of letters and numbers that will be stored on a user’s computer, mobile terminal or other equipment from which the Internet is accessed without allowing it to be personally identified.
                The cookie is installed through the request issued by the user’s terminal to a vying.io server or to a third-party server.</article>
            <h1>What kind of cookies do we use?</h1>
            <article>Only cookies per session that strictly maintain the functionality of our site. And ‘SAME SITE: STRICT’ is set. We do not allow anyone to set cookies on our site.
                The cookies per session are temporary files that remain in the user’s terminal until the end of the session (or maximum one day) or until the browser is closed.
            </article>
            <h1> What happens if we clear cookies or block them?</h1>
            <article>
                If you want to block cookies, some site functionality will be stopped, and this may cause some malfunctions or errors in using it. For example, blocking cookies can prevent you from communicating with us online.
                Or, get our cookie info. 🙂
                If you agree to these limitations and want to block cookies, you can find http://www.youronlinechoices.com/en/ very interesting information, but also clear instructions on how to disable them on the web the browser you are using. On http://www.allaboutcookies.org you can find everything with and about cookies.

                Also on https://cookiepedia.co.uk you find information about each cookie separately. 🙂
            </article>
        </div>
    </div>
</div>
{{> footer}}
