<div class="container-fluid">
    <div class="row" id="dns-overlay-support">
        <div class="col-lg-12 col-sm-12" id="dns-overlay">
            {{> nav-dns}}
            <h1 class="h1-overlay">Pricing plans</h1>
        </div>
    </div>
    <div class="container dns">
        <div class="row text-center">
            <div class="col-lg-12 col-sm-12">
                <h1 style="margin-top: 5%;margin-bottom: 5%">Build for everybody who wants a website, or already owns one, or several. 🙂</h1>
                <h2 style="margin-bottom: 10%">Easy. Fast. No set up required. </h2>
            </div>
            <div class="col-lg-4 col-sm-12" style="margin-top: 3%">
                <div class="shadow-wrapper">
                    <div class="card">
                        <h2 class="card-title">Personal</h2>
                        <span class="card-title">10 eur/month*</span>
                        <h5 class="card-title">MAX 3 DOMAINS </h5>
                        <span class="card-title text-muted">+3 eur per additional</span>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> unicast dns</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> secondary dns</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> DDos protection</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> Unlimited queries</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> Unlimited records</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> Standard TTL(7 days)</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> tranzit time for changes 8 h</h6>
                        <h6 class="card-subtitle text-muted"><i class="fa fa-times" aria-hidden="true"></i> reverse dns</h6>
                        <h6 class="card-subtitle text-muted"><i class="fa fa-times" aria-hidden="true"></i> vanity nameservers</h6>
                        <h6 class="card-subtitle text-muted"><i class="fa fa-times" aria-hidden="true"></i> DNSSEC</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> free web hosting</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> unlimited traffic</h6>
                        <h6 class="card-subtitle text-muted"><i class="fa fa-times" aria-hidden="true"></i> subdomains</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> 1 mailbox/domain</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> 7 eur/SSL/domain**</h6>
                        <h6 class="card-subtitle text-muted"><i class="fa fa-times" aria-hidden="true"></i> Dedicated IP</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i>  FTP access</h6>

                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> standard suport</h6>
                        <a class="btn btn-primary cardBtn" href="/personal-plan">Select plan</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12" style="margin-top: 3%">
                <div id="shadow-wrapper-center">
                    <div class="card" id="bestValue">
                        <h2 class="card-title">Professional</h2>
                        <h3 class="card-tile">Best value.Recommended for web design agencies.</h3>
                        <span class="card-title">50 eur/month </span>
                        <h5 class="card-title">MAX 3 DOMAINS  </h5>
                        <span class="card-title text-muted">+5 eur per additional </span>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> unicast dns</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> secondary dns</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> DDos protection </h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> Unlimited queries</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> Unlimited records </h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> customizable TTL(min 24h) </h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> tranzit time for changes 4 h </h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> reverse dns</h6>
                        <h6 class="card-subtitle text-muted"><i class="fa fa-times" aria-hidden="true"></i> vanity nameservers</h6>
                        <h6 class="card-subtitle text-muted"><i class="fa fa-times" aria-hidden="true"></i> DNSSEC</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> free web hosting </h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> unlimited traffic</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> 3 subdomains/domain </h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> 3 mailboxes/domain </h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> free SSL </h6>
                        <h6 class="card-subtitle text-muted"><i class="fa fa-times" aria-hidden="true"></i>Dedicated IP </h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i>FTP access </h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i>enhanced support </h6>
                        <a class="btn btn-primary cardBtn" href="/professional-plan">Select plan</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12" style="margin-top: 3%">
                <div class="shadow-wrapper">
                    <div class="card">
                        <h2 class="card-title">Business</h2>
                        <span class="card-title"> 250 eur/month</span>
                        <h5 class="card-title">MAX 3 DOMAINS  </h5>
                        <span class="card-title text-muted">+10 eur per additional </span>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> unicast dns</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> secondary dns</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> DDos protection </h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> Unlimited queries </h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> Unlimited records</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> customizable TTL(min 5min) </h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i>  tranzit time for changes 1 h </h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> reverse dns</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> vanity nameservers</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> DNSSEC</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> free web hosting</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> unlimited traffic </h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> 5 subdomains/domain </h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> 10 mailboxes/domain </h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> free SSL</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> Dedicated IP </h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> FTP access</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> premium suport</h6>
                        <a class="btn btn-primary cardBtn" href="/business-plan">Select plan</a>
                    </div>
                </div>
            </div>
            <article>*Billable yearly<br>
                **SSL upon request<br>
                <b>If</b> you need <span style="color: red">only DNS hosting</span>, please select a plan from bellow or, <a href="/contact">contact us</a> for a custom offer, tailored to your needs.<br>
               <b style="text-decoration: underline">Content delivery network</b> is also available. Contact us should you require it. The difference between our CDN and all of the rest, is that we host your website on each and every point
                of presence. This is the main reason for which we can not offer fixed prices. It depends on what every customer requires, the continents of interest(one might only need India and Europe for example), etc.
            </article>
        </div>
    </div>
    <div class="container dns" style="margin-bottom: 5%">
        <div class="row text-center">
            <div class="col-lg-6 col-sm-12" style="margin-top: 3%">
                <div class="shadow-wrapper" style="height: 489px">
                    <div class="card">
                        <h2 class="card-title" style="margin-top: 5%">Managed unicast dns</h2>
                        <span class="card-title"> 10 eur/month</span>
                        <h5 class="card-title">MAX 3 DOMAINS  </h5>
                        <span class="card-title text-muted">+5 eur per additional </span>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> DDos protection </h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> Unlimited queries </h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> Unlimited records</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> customizable TTL(min 5min) </h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i>  tranzit time for changes 1 h </h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> reverse dns</h6>
                        <h6 class="card-subtitle" style="margin-bottom: 5%"><i class="fa fa-check" aria-hidden="true"></i> DNSSEC</h6>
                        <a class="btn btn-primary cardBtn" href="/unicast-plan">Select plan</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12" style="margin-top: 3%">
                <div class="shadow-wrapper" style="height: 489px">
                    <div class="card">
                        <h2 class="card-title" style="margin-top: 5%" id="anycast">Managed anycast dns</h2>
                        <span class="card-title"> 20 eur/month</span>
                        <h5 class="card-title">MAX 3 DOMAINS  </h5>
                        <span class="card-title text-muted">+5 eur per additional </span>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> DDos protection </h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> Unlimited queries </h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> Unlimited records</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> customizable TTL(min 5min) </h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i>  tranzit time for changes 1 h </h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> reverse dns</h6>
                        <h6 class="card-subtitle" style="margin-bottom: 5%"><i class="fa fa-check" aria-hidden="true"></i> DNSSEC</h6>
                        <a class="btn btn-primary cardBtn" href="/anycast-plan">Select plan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> footer}}
</div>

