
{{> nav-dns}}
<div class="container" id="dns">

    <div class="row text-center" style="margin-top: 5%">
        <div class="col-lg-12 col-sm-12">
            <h1 style="margin-top: 5%;margin-bottom: 5%">Pentru cei ce detin cel putin un domeniu si un website/aplicatie</h1>
            <h2 style="margin-bottom: 10%">Cotatii de pret</h2>
        </div>
        <div class="col-lg-4 col-sm-12" style="margin-top: 3%">
            <div class="shadow-wrapper">
                <div class="card">
                    <h2 class="card-title">Personal</h2>
                    <span class="card-title">10 euro/luna platitbili anual</span>
                    <h5 class="card-title">maxim 5 domenii</h5>
                    <span class="card-title text-muted">+3 euro per domeniu aditional</span>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> dns secundar</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> protectie DDoS</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> interogari nelimitate</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> inregistrari nelimitate per zona</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> TTL standard(7 zile)</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> timp tranzit modificari 24h</h6>
                    <h6 class="card-subtitle text-muted"><i class="fa fa-times" aria-hidden="true"></i> reverse dns</h6>
                    <h6 class="card-subtitle text-muted"><i class="fa fa-times" aria-hidden="true"></i> vanity nameservers</h6>
                    <h6 class="card-subtitle text-muted"><i class="fa fa-times" aria-hidden="true"></i> DNSSEC</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> web hosting gratuit</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> traffic nelimitat</h6>
                    <h6 class="card-subtitle text-muted"><i class="fa fa-times" aria-hidden="true"></i> subdomenii</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> 1 casuta e-mail/domeniu</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> +7 euro/SSL/per domeniu(la cerere)</h6>
                    <h6 class="card-subtitle text-muted"><i class="fa fa-times" aria-hidden="true"></i> IP Dedicat</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> acces la fisierele site-ului</h6>

                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> suport standard</h6>
                    <a class="btn btn-primary cardBtn" href="/personal-plan">Selecteaza</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12" style="margin-top: 3%">
            <div id="shadow-wrapper-center">
                <div class="card" id="bestValue">
                    <h2 class="card-title">Profesional</h2>
                    <h3 class="card-tile">Best value.Recomandat agentiilor de webdesign.</h3>
                    <span class="card-title">50 euro/luna</span>
                    <h5 class="card-title">maxim 5 domenii</h5>
                    <span class="card-title text-muted">+5 euro per domeniu aditional</span>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> dns secundar</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> protectie DDoS</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> interogari nelimitate</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> inregistrari nelimitate per zona</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> TTL customizabil(minim 24h)</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> timp tranzit modificari 8h</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> reverse dns</h6>
                    <h6 class="card-subtitle text-muted"><i class="fa fa-times" aria-hidden="true"></i> vanity nameservers</h6>
                    <h6 class="card-subtitle text-muted"><i class="fa fa-times" aria-hidden="true"></i> DNSSEC</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> web hosting gratuit</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> traffic nelimitat</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> 3 subdomenii/domeniu</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> 3 casute e-mail/domeniu</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> SSL gratuit</h6>
                    <h6 class="card-subtitle text-muted"><i class="fa fa-times" aria-hidden="true"></i> IP Dedicat</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> acces la fisierele site-ului</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> suport dedicat</h6>
                    <a class="btn btn-primary cardBtn" href="/professional-plan">Selecteaza</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12" style="margin-top: 3%">
            <div class="shadow-wrapper">
                <div class="card">
                    <h2 class="card-title">Business</h2>
                    <span class="card-title">250 euro/luna</span>
                    <h5 class="card-title">maxim 5 domenii</h5>
                    <span class="card-title text-muted">+10 euro per domeniu aditional</span>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> dns secundar</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> protectie DDoS</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> interogari nelimitate</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> inregistrari nelimitate per zona</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> TTL customizabil(minim 5min)</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> timp tranzit modificari 1h</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> reverse dns</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> vanity nameservers</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> DNSSEC</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> web hosting gratuit</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> traffic nelimitat</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> 5 subdomenii/domeniu</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> 10 casute e-mail/domeniu</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> SSL gratuit</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> IP Dedicat</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> acces la fisierele site-ului</h6>
                    <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> suport premium</h6>
                    <a class="btn btn-primary cardBtn" href="/business-plan">Selecteaza</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer}}
