{{> nav-faq}}
<div class="container" id="faq">
    <div class="row" style="margin-top: 5%;margin-bottom: 10%">
        <div class="col-lg-12 col-sm-12">
            <h1>De ce nu aveti un sediu in Romania?</h1>
            <article>
                Pentru simplul motiv ca putem lucra de oriunde exista internet, iar in Estonia ni se permite sa depunem, orice fel de act avem nevoie si sa-l si semnam, online. 😉
            </article>
            <h1>Cum putem colabora cu voi?</h1>
            <article>
                Pai e simplu. Scrieti-ne un e-mail care sa includa ce anume doriti si datele de contact si revenim noi la dvs., in maxim o ora de la primirea solicitarii 🙂
            </article>
            <h1>Ce include o analiza?</h1>
            <article>
                Analizam secure socket layer-ul(ssl), header-ele(ce trimite serverul dvs ca raspuns la cererile browser-ului), cookie-urile si cum sunt acestea setate, verificam daca este un ip impartit cu alte site-uri
                si daca da ne uitam in bazele de date antispam sa nu se regaseasca pe acolo si nu in ultimul rand cross site scripting-ul.Despre acesta din urma, fiind foarte mult de explicat, va rugam sa cautati pe WIKIPEDIA, daca doriti
                mai multe detalii.Aici riscam sa va plictisim cu prea multe date tehnice.
            </article>
            <h1>Cum se emit facturile si cum se achita acestea?</h1>
            <article>
                Intre 1 si 5 ale fiecarei luni calendaristice se emite factura pentru luna in curs. Sunt emise in euro iar T.V.A-UL se adauga in cazul in care nu detineti un cod valid de T.VA.
                Aveti timp sa o achitati pana la finalul aceleiasi luni. Facturile se pot achita doar prin transfer bancar. Nu ni se permite incasarea in numerar.
                Deocamdata se pot platii doar in euro, insa lucram la posibilitatea de a incasa in lei, iar diferentele de curs valutar sa le suportam noi.
            </article>
            <h1>Putem sa migram de la un plan tarifar la altul la altul?</h1>
            <article>Sigura ca da. Ce trebuie sa stiti este faptul ca modificarile isi vor face efectul din data de 1 ale lunii viitoare.</article>
            <h1>Cum putem renunta la colaborare?</h1>
            <article>Avem nevoie de un preaviz de 15 zile ca sa pregatim cele necesare transferului de la noi la furnizorul nou ales de dvs.Totul se achita la numarul de zile efective.Spre exemplu daca notificarea vine in
                3 ale lunii, dumneavoastra mai aveti de plata, planul selectat impartit la numarul de zile ale lunii respective, si de inmultit cu 18.
            </article>
            <h1>Alte intrebari?</h1>
            <article>Daca aveti alte intrebari la care nu se regaseste un raspuns aici va rugam sa ni le adresati pe e-mail, sau prin intermediul form-ului de contact,
                si va vom raspunde fie personal, fie in cadrul acestei sectiuni, daca se dovedesc a fii de interes general.
            </article>
        </div>
    </div>
</div>
{{> footer}}
