
<div class="container-fluid" id="faq">
    <div class="row" id="faq-overlay-support">
        <div class="col-lg-12 col-sm-12" id="faq-overlay">
            {{> nav-faq}}
            <h1 class="h1-overlay">FAQ</h1>
        </div>
    </div>
    <div class="container">
        <div class="row" style="margin-top: 5%;margin-bottom: 10%">
            <div class="col-lg-12 col-sm-12">
                <h1>How can we start with you?</h1>
                <article>
                    Well, it is simple.After you have set the nameservers at your registrar, please forward  us their reply together with your contact details( company details also if it will be a business account).
                    Then  we will create your zone, mailboxes and ftp in which you can upload your files, and write back to you.
                    When everything is up and running you will receive an invoice(depending on which pricing plan you chose) and some passwords(we do not offer the possibility to change them yourself) and you can make the payment.
                    Or, if this seems too complicated, please write to us, and we will take it step by step. 🙂
                </article>
                <h1>What about invoicing?</h1>
                <article>
                    After you decided which plan suits you, and everything is up and running we will issue the invoice for that month, or the rest of the days remaining.
                    If for example, we start on the 21th of the month, there will be an invoice for the nine or ten remaining days.
                    After this, we issue invoices , in between the 1th and the 5th, for the month in progress. If you have a valid VAT code (UE or NON UE), the invoices will be netto ( without   VAT ).
                    On the other hand, if you are a private person or a small company, which does not have to apply the VAT, we will have to apply the VAT on our invoices.
                </article>
                <h1>Can I change my mind?Do you offer refunds?</h1>
                <article>
                    Yes. If for whatever reason, within one week range, you are not satisfied with our services, we will refund you no questions asked(within two to five working days).
                    We will kindly ask you only for a sincere feedback, if you want to help us improve(not mandatory, of course). 🙂
                </article>
                <h1>Can I switch from one plan to another?</h1>
                <article>Of course. Effective from the day after we received the notification. The rest of the period remaining(within that month), will be billed with the previous plan cost, as a bonus.
                    Even if you are downgrading.</article>

                <h1>Other questions?</h1>
                <article>If you have any other questions, please do not hesitate to contact us.We will answer them personally or through the FAQ page if they are of general interest.
                </article>
            </div>
        </div>
    </div>
</div>
{{> footer}}
