{{> nav}}
<div class="container">
    <div class="row text-center" style="margin-top: 3%">
        <div class="col-sm-12 col-lg-12">
            <img class="img-fluid" src="/images/vyingioENGL_ERROR.jpg" id="error-img" alt="error">
            <button class="buttons" onclick="goBackTo()" id="friendly-error-btn" style="margin-top: 3%">Go back</button>
        </div>
    </div>
</div>

{{> footer}}
