{{> nav}}

<div class="container-fluid">
    <div class="container">
        <div class="row" >
            <div class="col-lg-10 offset-lg-1 col-sm-8 text-center h-col" id="main_right_col" style="margin-top: 7%">
                <h3> A Vying Technology initiative</h3>
                <h4>In a world so connected, <span style="color: #B3B3B3">your internet site should be by now your main priority</span> </h4>{{!--<span style="color: #F57E72">--}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="jumbotron text-center" id="j_tron_main">
            <img src="/images/vyfront.jpg" class="img-fluid" alt="Tallinn">
        </div>
        <div id="overlay-text-top-main-page">
            <h1 id="j_tron_main_h1">What can we do for you?</h1>
            <article>If there is a website, it all starts with an analysis.A honest analysis of the actual website(security first), then, based on what we found, we decide what the next step will be.</article>
            <article>If you don't have a website and you want one, it can be online in<a href="/web-development#one_hour_wp" style="color:#8098C5;text-decoration: underline;"> maxim one hour.</a></article>
            <article>Of course that we offer web hosting and also professional DNS, for those who need an extra layer of security.</article>
        </div>
    </div>
    <div class="container" style="margin-top: 7%">
        <div class="row">
            <div class="col-lg-12 col-sm-12 h-col">
                <div id="overlay-text-bottom-main-page">

                </div>
                <div class="text-center" id="ask_button_div">
                    <a href="/contact" class="buttons">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer}}
