{{> nav}}

<div class="container-fluid">
    <div class="container">
        <div class="row" >
            <div class="col-lg-10 offset-lg-1 col-sm-8 text-center h-col" id="main_right_col" style="margin-top: 7%">
                <h3> A Vying Technology initiative</h3>
                <h4>In a world so connected, <span style="color: #B3B3B3">your internet site should be by now your main priority</span> </h4>{{!--<span style="color: #F57E72">--}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="jumbotron text-center" id="j_tron_main">
            <img src="/images/vyfront.jpg" class="img-fluid" alt="Tallinn">
        </div>
        <div id="overlay-text-top-main-page">
            <h1 id="j_tron_main_h1">Ce putem face pentru dumneavoastra?</h1>
            <article>Daca exista un site, totul incepe cu o analiza.O analiza onesta a site-lui actual( securitatea pe primul loc ), apoi, bazat pe ce gasim, decidem ce e de facut mai departe.</article>
            <article>Daca nu exista un website si va doriti unul, se poate realiza  in<a href="/web-development#one_hour_wp" style="color:#8098C5;text-decoration: underline;"> maxim o ora.</a></article>
            <article>Oferim webhosting si DNS Profesional pentru cei care au nevoie de un extra layer de securitate.</article>
        </div>
    </div>
    <div class="container" style="margin-top: 7%">
        <div class="row">
            <div class="col-lg-12 col-sm-12 h-col">
                <div id="overlay-text-bottom-main-page">

                </div>
                <div class="text-center" id="ask_button_div">
                    <a href="/contact" class="buttons">Contactati-ne</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer}}
