<div class="container-fluid" id="main">
    <div class="row" id="landing-overlay-support">
        <div class="col-lg-12 col-sm-12" id="landing-overlay">
            {{> nav}}
            <h1 class="h1-overlay" style="margin-left: unset">
                About This Site<br>
                <small>Besides premium dns, hosting services and web development, what we would like to sell is knowledge.<br>Because we know how abstract these things are..So reach out, and ask us anything.</small>
            </h1>
        </div>
    </div>
    <div class="container">
        <div class="row" >
            <div class="col-lg-10 offset-lg-1 col-sm-8 text-center h-col" id="main_right_col" style="margin-top: 7%">
                <h3> A Vying Technology initiative</h3>
                <h4>In a world so connected, <span style="color: #B3B3B3">your internet site should be by now your main priority</span> </h4>{{!--<span style="color: #F57E72">--}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="jumbotron text-center" id="j_tron_main">
            <img src="/images/vyfront.jpg" class="img-fluid" alt="Tallinn">
        </div>
        <div id="overlay-text-top-main-page">
            <h1 id="j_tron_main_h1">What can we do for you?</h1>
            <article>If there is a website, it all starts with an analysis.A honest analysis of the actual website(security first), then, based on what we found, we decide what the next step will be.</article>
            <article>If you don't have a website and you want one, it can be online in<a href="/web-development#one_hour_wp" style="color:#8098C5;text-decoration: underline;"> maxim one hour.</a></article>
            <article>Of course that we offer web hosting and also professional DNS, for those who need an extra layer of security.</article>
            <article class="landingP">Our unicast nameservers are:<br>
                ns1.dns7.org<br>
                ns2.dns7.org<br>
                ns3.dns7.org<br>
                ns4.dns7.org<br>
                ns5.dns7.org
            </article>
            <article>
                Set them at your registrar and contact us.  🙂
            </article>
            <article>Also, for those websites, with a global user base, we can provide, on our own infrastructure, <a href="/dns#anycast"><b style="color: #F57E72">anycast dns</b></a> and  <a href="/dns#anycast"> <b style="color: #F57E72">content delivery network.</b></a>
                Contact us for a quote or chat with us directly, on WhatsApp.
            </article>
            <article class="landingP">Our anycast nameservers are:<br>
                ns1.ns5.org<br>
                ns2.ns5.org<br>
            </article>
            <article>
                If you are new to this and you want to start something online, or you need a domain and a website, just write to us and we'll guide you every step of the way.
            </article>
            <article>
                <b style="color: #F57E72">All</b> of our services are set up free.We are taking care of everything.And you have to pay only after everyhting is set up and running.
            </article>
        </div>
    </div>
    <div class="container" style="margin-top: 7%">
        <div class="row">
            <div class="col-lg-12 col-sm-12 h-col">
                <div id="overlay-text-bottom-main-page">

                </div>
                <div class="text-center" id="ask_button_div">
                    <a href="/contact" class="buttons">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer}}
