{{> nav}}

<div class="container" id="policy">
    <div class="row" style="margin-top: 5%;margin-bottom: 10%">
        <div class="col-lg-12 col-sm-12">
            <h1>Who we are</h1>
            <article>
                vying.ro is one of the websites owned by Vying Technologies OU based in Tallinn, Sepapaja tn, number 6, district Lasnamae linnaosa, county HARJU, ESTONIA.
                Company identification data are: VAT code EE101978154 and the trade registry number is 14073161 / 30.06.2016. </article>
            <h1>What personal data we collect and why we collect it.</h1>
            <article>If you contact us in order to start a collaboration, we will need your personal and legal data strictly for the purposes of carrying out the act of
                trading (invoicing the services rendered).
                We do not sell or rent this data to anyone. None other than us has access to data .If you only contact us to ask questions, for example, we need your first name and email.
                We will also use these data only if you come back to us to recognize you. We do not sell or rent this data and we will never use them for marketing purposes.
                We do not have time for such activities. Through the contact form, we ask your browser for the IP from which you write.
                This type of data is strictly used for security and just if the situation requires it (it is delivered to the specialized authorities)
            </article>
            <h1>Who we share your data with?</h1>
            <article>
                Nobody.
            </article>
            <h1>How long we retain your data?</h1>
            <article>If there is a collaboration, only during the legal term from your country,  and in the rest of the cases, they are deleted after a maximum of one month.</article>
            <h1>What rights you have over your data?</h1>
            <article>You may request access to your data, correct any errors in our files, and / or you may oppose the processing of your personal data.
                You may request that we delete your data (except for those to be retained for lawful purposes), that we provide you with your personal data in a structured, commonly
                used and automatically readable format, or you can request it to be “ported” directly to another data operator.
                You can also exercise your right to complain to the competent oversight authority or to court.
            </article>
            <h1>Where we send your data?</h1>
            <article>Nowhere except for legal authorities if the situation requires it.</article>
        </div>
    </div>
</div>
{{> footer}}
