{{> nav}}

<div class="container" id="policy">
    <div class="row" style="margin-top: 5%;margin-bottom: 10%">
        <div class="col-lg-12 col-sm-12">
            <h1>Cine suntem?</h1>
            <article>
                vying.ro este unul din site-urile de internet detinute de Vying Technologies OU cu sediul in Tallinn,
                strada Sepapaja tn, numarul 6, district Lasnamae linnaosa, judet HARJU, ESTONIA.Datele de identificare ale societatii sunt: cod T.V.A. EE101978154 iar numarul din registrul comertului este 14073161/30.06.2016.
            </article>
            <h1>Ce date personale colectam si de ce.</h1>
            <article>Daca ne contactati in vederea inceperii unei colaborari o sa avem nevoie de datale dvs personale si juridice strict in scopul derularii actului de comert(facturarea serviciilor prestate).
                Nu vindem si nu inchiriem aceste date nimanui.Nimeni in afara de noi nu are access la date.Daca ne contactati doar pentru a pune niste intrebari, spre exemplu, avem nevoie de prenumele dumneavoastra si de email.De asemenea, aceste date nu le vom folosi decat daca reveniti la noi, pentru a va recunoaste.Nu vindem si nu inchiriem aceste date nimanui si nu le vom folosi niciodata in scopuri de marketing.
                Nu avem timp pentru astfel de activitati.Prin intermediul formului de contact, cerem de la browserul dumneavoastra ip-ul de pe care scrieti.
                Acest tip de date sunt folosite strict pentru securitate si doar daca situatia o va cere(se predau autoritatilor de specialitate)
            </article>
            <h1>Cine mai are acces la datele dumneavoastra?</h1>
            <article>
                Nimeni.Nu folosim Facebook si alte site-uri de genul tocmai pentru ca avem de-aface cu cea ce se numeste ‘third party cookies’,care urmaresc utilatorul in toate locatiile pe care acesta le utilizeaza.De fapt toate site-urile care au content de la alte site-uri expun utilizatorii la genul acesta de urmarire.Orice continut exista de pe un site pe altul, practic puteti fi sigur ca sunteti urmarit si de catre site ul care poate sa aiba doar o poza in cadrul site-lui pe care il vizitati de fapt.
                Ca sa explicam pe scurt.Daca cititi stirile de pe un ziar care are articole preluate si de la un altul, practic ambele ziare stiu de dumneavoastra.NU ESTE NIMIC RAU IN ASTA, nu vrem sa fim gresit intelesi.
            </article>
            <h1>Cat timp stocam datele?</h1>
            <article>Daca exista o colaborare, doar pe durata termenului legal din Romania, adica 10 ani iar in restul cazurilor, se sterg dupa maxim o luna.</article>
            <h1>Ce drepturi aveti asupra datelor dumneavoastra?</h1>
            <article>Puteți solicita accesul la datele dvs., corectarea oricăror greșeli din fișierele noastre și/sau vă puteți opune la prelucrarea datelor dvs. cu caracter personal.Ne puteți cere să vă ștergem datele(exceptie fac cele care trebuie retinute in scopuri legale), sau să vă furnizăm datele cu caracter personal într-un format structurat, utilizat în mod curent și care poate fi citit automat, sau puteți solicita ca acesta sa fie „portat” direct către un alt operator de date. De asemenea, vă puteți exercita dreptul de a vă plânge autorității de supraveghere competente sau de a vă adresa justiției.
                În România, datele de contact ale autoritații de supraveghere pentru protecția datelor sunt următoarele:<br>
                Autoritatea Naționala de Supraveghere a Prelucrării Datelor cu Caracter Personal<br>
                B-dul G-ral. Gheorghe Magheru nr. 28-30,<br>
                Sector 1, cod postal 010336,<br>
                Bucuresti, România;<br>
                Telefon: +40.318.059.211 sau +40.318.059.212;<br>
                E-mail: anspdcp@dataprotection.ro
            </article>
        </div>
    </div>
</div>
{{> footer}}
