{{> nav-all-plans}}
<div class="container" style="margin-top: 5%">
    <div class="row text-center">
        <div class="col-sm-12 col-lg-8 offset-lg-2">
            <img class="img-fluid" src="/images/success.jpg" id="success-img" alt="success">
            <h2 style="margin-top: 3%">Mesajul a fost receptionat cu succes.<br>Va multumim frumos!</h2>
            <a href="/" class="buttons" style="margin-top: 3%">acasa</a>
        </div>
    </div>
</div>

{{> footer}}
