{{> nav-all-plans}}
<div class="container" style="margin-top: 5%">
    <div class="row text-center">
        <div class="col-sm-12 col-lg-8 offset-lg-2">
            <img class="img-fluid" src="/images/success.jpg" id="success-img" alt="success">
            <h2 style="margin-top: 3%">Your message has been successfully received.<br>Thank you for contacting us!</h2>
            <a href="/" class="buttons" style="margin-top: 3%">Home</a>
        </div>
    </div>
</div>

{{> footer}}
