{{> nav-all-plans}}
<div class="container">
    <div class="row" style="margin-top: 15%">
        <div class="col-lg-6  col-sm-12">
            <h2>You selected the unicast dns plan!</h2>
            <form action="/users/unicast-plan" method="post">
                <div class="form-group">
                    <label for="email">E-mail address</label>
                    <input type="email" class="form-control" id="email"  name="email" placeholder="Enter your e-mail" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="full_name"> Full name</label>
                    <input type="text" class="form-control" id="full_name" name="full_name" placeholder="Enter your full name" required>
                    <small id="emailHelp" class="form-text text-muted">We treat your data as strictly confidential.</small>
                </div>
                <div class="form-group">
                    <label for="company_textarea">Company data if needed and/or dns requirements. If a lower TTL is necessary(eg. : 5 minutes), please specify the reason.</label>
                    <textarea class="form-control" id="company_textarea" name="company_textarea" rows="10" placeholder="USE only the following punctuation  signs . , ! ? and only one space btw words."></textarea>
                </div>
                <div class="g-recaptcha" data-sitekey="6LfMuIkUAAAAAFlx_PayuhNqOVqBJMdrJoeL6TOQ"></div>
                <input id="unicast-plan" name="unicast_plan" type="hidden" value="unicast-plan">
                <input type="hidden" name="ip" value="{{ip}}">
                <button type="submit" class="buttons" style="margin-top: 3%;margin-bottom: 25%">Send</button>
            </form>
        </div>
        <div class="col-lg-6  col-sm-12">
            <img src="/images/managedunicastdns.jpg" alt="welcome" class="img-fluid rounded">
        </div>
    </div>
</div>
