<div class="container-fluid" id="faq">
    <div class="row" id="vyp-overlay-support">
        <div class="col-lg-12 col-sm-12" id="vyp-overlay">
            {{> nav-vyipedia}}
            <h1 class="h1-overlay">Vyingpedia</h1>
        </div>
    </div>
    <div class="container" id="vyipedia">
        <div class="row" style="margin-top: 5%">
            <div class="col-lg-12 col-sm-12">
                <h1>What is DNS?</h1>
                <article>
                    You can think of DNS(domain name system) like being a book.The phone book of the internet. Every device connected to the internet has a number attached to it called IP( internet protocol ) with the help of which it identifies itself on the network.
                    People access informations online through internet domains using a internet browser, for example ns5.org, and browsers access the requested information through the internet protocol.
                    DNS( often called forward dns) eliminates the need of remembering those numbers and thus translates them into names( internet domains) or, if required, into other ips.
                    There is a lot to talk about with regards of  DNS but we hope you understood its purpose.
                </article>
                <div class="text-center">
                    <img src="/images/dnsbook.jpg" class="img-fluid" width="600" height="600">
                </div>
                <h1>What is a nameserver?</h1>
                <article>Here we are talking about a server specialised in translating the ips requested by different browsers into domain names.
                    It is a rule that specifies that every domain should be listed on minim three nameservers and maxim seven.
                    Also every name server should be placed on a different network to ensure high availability.
                    This way, the probability for a website to be down due to DNS issues, is almost 0, unless under attack(there are specific attacks for DNS, too).
                </article>
                <h1>What is TTL?</h1>
                <article>
                    TTL( time to live ) is a part of a dns record which specifies for how long a resolver(type of dns server) should keep in its cache,
                    the request made by other dns servers for that particular record.
                </article>
                <h1>What is reverse dns?</h1>
                <article>
                    Reverse dns is the oposite of dns( forward dns ). It maps the way from the ip to a domain name. Dns maps the way from the domain name to the ip.
                </article>
                <h1>What is DNSSEC?</h1>
                <article>To be brief and not to get into too many technical details, dnssec encrypts every dns record.Like the ssl does for the traffic between the client and the server.
                    It prevents attacks of type cache poisoning, pharming, and man-in-the-middle.
                </article>
                <h1>What is vanity nameserver?</h1>
                <article>Vanity nameservers makes possible for your domain to serve as its nameserver. So you can set at your registrar, ns1.yourdomain.com, ns2.yourdomain.com and so on.
                </article>
                <h1>Which are the most common dns records?</h1>
                <article>
                    A sau AAAA – points the browser towards the ip where your domain is hosted.
                </article>
                <article>
                    CNAME – points, for example, vying.io towards www.vying.io or viceversa, depending on how the A record is set.
                </article>
                <article>
                    MX – tells other email servers where yours is. Kind of an A record for emails.
                </article>
                <article>
                    TXT – most common in correlation with MXs for SPF, DKIM and DMARC.
                </article>
            </div>
        </div>
        <div class="jumbotron" id="j_tron_pedia"></div>
        <div class="row" style="margin-bottom: 10%">
            <div class="col-lg-12 col-sm-12">
                <h1>What is in fact web hosting?</h1>
                <article>
                    A web host is a computer permanently connected to the internet, called server, on which people deposit their websites.
                    The term web hosting is usually associated with companies that lend their servers for such activities.
                </article>
                <h1>What is SPF?</h1>
                <article>A Sender Policy Framework record (SPF), communicates to e-mail servers, which mailbox is allowed to send emails on behalf of a domain.
                    For example, our server communicates that info@vying.io is authorized to send emails on behalf of vying.io domain.
                </article>
                <h1>What is DKIM?</h1>
                <article>A DomainKeys Identified Mail (DKIM) record is a way to validate the authenticity of an e-mail.
                    When an e-mail is sent, it is signed using a private key on the e-mail server, and when it arrives at the destination server it is checked with the public key found in the dns record.
                    In other words, the key from dns record, unlocks the e-mail. 🙂
                </article>
                <h1>What is DMARC?</h1>
                <article>
                    A DMARC (Domain-based Message Authentication, Reporting & Conformance) record, in short, certifies the SPF and / or DKIM record.
                    An email will fail if the DMARC can not check the SPF and DKIM, or just the DKIM. It’s the first technology which, if implemented correctly,
                    can certify ‘header from:’ what you see as being the person who sent the email,  as being 100% reliable. It is the end of spam or viruses that can block a computer.
                </article>
                <h1 id="smtp">What is SMTP?</h1>
                <article>
                     Also known as simple mail transfer protocol it allows you that together with an e-mail client(most known are Thunderbird and Outlook) or a webmail(gmail or yahoo are webmail clients)
                    to send e-mails.If you wish to read more about smtp protocol,
                    <a href="https://en.wikipedia.org/wiki/Simple_Mail_Transfer_Protocol">push here.</a>
                </article>
            </div>
        </div>
    </div>
</div>
{{> footer}}

