<div class="container-fluid" id="faq">
    <div class="row" id="webdev-overlay-support">
        <div class="col-lg-12 col-sm-12" id="webdev-overlay">
            {{> nav-web-development}}
            <h1 class="h1-overlay">Web development</h1>
        </div>
    </div>
    <div class="container" id="web-development">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <h1>Ce este de fapt web developmentul?</h1>
                <article>Web developmentul presupune creerea unui site de internet, sau de intranet, sau a unei aplicatii de mobil, de la 0.<br> A nu se confunda cu web designul
                    care nu face decat sa infrumuseteze ceea ce exista deja(nu spunem ca web designul nu e important).Mai jos aveti o imagine a acestui site in timp ce se construia.
                </article>
                <div class="text-center">
                    <img src="images/webstorm.jpg" class="img-fluid" width="600" height="600">
                </div>
                <article>Diferenta dintre un site scris de la 0 si un cms(content management system)este faptul ca in primul caz se controleaza fiecare aspect al acestuia iar
                    in al doilea caz se controleaza doar ce contine site ul adica imagini si text.Orice alta functionalitate trebuie, de cele mai multe ori, adaugata sub forma unui
                    plugin, adica un alt program, scris de altcineva pentru functionalitatea respectiva.Sunt cele mai mari brese de securitate, niciodata gratuite, iar cu cat se adauga mai multe,
                    cu atat site-ul se incarca mai greu, sau parti din acesta nu se incarca deloc daca un anumit plugin este livrat via CDN(content delivery network),iar pentru vreun motiv sau
                    altul respectivul server este nefunctional in acel moment.(din punctul nostru de vedere, fireste.)
                </article>
                <h2>Ce tehnologii folosim?</h2>
                <article>Ubuntu, pe toate serverele noastre<br><img src="/images/ubuntu.jpg"  class="img-fluid" width="380" height="90"></article><br>
                <article>Node, pe toate webserverele nostre<br><img src="/images/node.jpg" class="img-fluid" width="370" height="205"></article><br>
                <article>Nginx, pe toate proxy serverele noastre<br><img src="images/nginx.jpg" class="img-fluid" width="370" height="90"></article><br>
                <h2>Custom website</h2>
                <article>Nu putem oferii costuri fixe pentru creerea unui website, insa ca sa va puteti forma o idee, un site de prezentare cu functionalitati standard gen formular de contact,
                    formular de cerere oferta, localizare Google maps, Recapcha, <a href="/vyingpedia#smtp" target="_blank">smtp</a> personalizat, etc incepe ca si cost de la 1000 euro.
                </article>
                <article>Pentru o cotatie personalizata de pret va rugam sa ne <a href="/contact">contactati.</a> </article>
                <h2 id="one_hour_wp">Wordpress intr-o ora</h2>
                <article>Daca doriti o varianta de buget(cms), in maxim o ora putem sa cumparam un domeniu, sa-l gazduim si sa avem un prim draft de site online.Pentru a intelege ce inseamna toate acestea va rugam accesati
                    <a href="https://dns7.ro" target="_blank">dns7.ro.</a>
                </article>
            </div>
        </div>
        <div class="row text-center" style="margin-top: 5%">
            <div class="col-lg-6 offset-lg-4 col-sm-12">
                <div class="shadow-wrapper-web-dev">
                    <div class="card">
                        <h2 class="card-title">cost/website</h2>
                        <span class="card-title">50 euro instalare</span>
                        <h5 class="card-title">50 eur/luna abonament</h5>
                        <span class="card-title text-muted">include</span>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> asistenta cumparare website</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> dns</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> protectie DDoS</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> web hosting</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> 1 casuta e-mail</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> smtp website</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> traffic nelimitat</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> ssl gratuit</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> update-uri la zi</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> adaugare functionalitati</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> acces la fisierele site-ului</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> suport via <a href="https://anydesk.com" target="_blank">anydesk</a>(o ora/saptamana)</h6>
                        <a class="btn btn-primary cardBtn" href="/wordpress-plan">Selecteaza</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer}}
