<div class="container-fluid" id="faq">
    <div class="row" id="webdev-overlay-support">
        <div class="col-lg-12 col-sm-12" id="webdev-overlay">
            {{> nav-web-development}}
            <h1 class="h1-overlay" id="webDevH1">Web development</h1>
        </div>
    </div>
    <div class="container" id="web-development">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <h1>What is in fact web development?</h1>
                <article>
                    Web development is the building( and maintenance ) of websites from 0.<br>Not to be confused with web design(also important).Bellow there is an image of this website while it was built.
                </article>
                <div class="text-center">
                    <img src="images/webstorm.jpg" class="img-fluid" width="600" height="600">
                </div>
                <article>
                    The difference between a site made up from scratch, and a cms(content management system) is the fact that in the first case, one can control every little aspect of it, and in the second
                    , only what it contains(images and text).Any other functionality must be added, in most of the cases, through the form of a so called plug-in, which is in fact another small program, written by somebody else.
                    They are often security breaches, almost never free, and the more one adds, the more the loading speed of the site decreases, or parts of it do not load at all if a particular plug-in is delivered via CDN and for one
                    reason or another the server that deliver that particular CDN is down at that moment.
                </article>
                <h2>What technologies do we use?</h2>
                <article>Ubuntu, on all of our servers.<br><img src="/images/ubuntu.jpg"  class="img-fluid" width="380" height="90"></article><br>
                <article>Node, on all of our web servers. <br><img src="/images/node.jpg" class="img-fluid" width="370" height="205"></article><br>
                <article>Nginx, on all of our proxy servers.<br><img src="images/nginx.jpg" class="img-fluid" width="370" height="90"></article><br>
                <h2>Custom website</h2>
                <article>We can not provide fixed costs for creating a website, but to get you an idea, a presentation site with standard features like contact form,
                    offer request form, Google maps localization feature, Recapcha, personalized <a href="/vyingpedia#smtp" target="_blank">smtp</a>, etc., starts at a cost of 1000 euro.
                </article>
                <article>For a custom price quotation please <a href="/contact">contact us</a>, and provide as many details as you can. </article>
                <h2 id="one_hour_wp">Wordpress in an hour</h2>
                <article>If you want a budget version(cms), in a maximum of one hour we can buy a domain, host it and have a first draft of an online site.To better understand what all this means, please visit
                    <a href="https://dns7.ro" target="_blank">dns7.ro.</a>
                </article>
            </div>
        </div>
        <div class="row text-center" style="margin-top: 5%">
            <div class="col-lg-6 offset-lg-4 col-sm-12">
                <div class="shadow-wrapper-web-dev">
                    <div class="card">
                        <h2 class="card-title">cost/website</h2>
                        <span class="card-title">free wordpress instalation</span>
                        <h5 class="card-title">50 eur/month</h5>
                        <span class="card-title text-muted">includes</span>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i>domain buying assistance</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> dns</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> DDoS protection</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> web hosting</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> 1 mailbox</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> smtp website</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> unlimited traffic</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> free ssl</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> daily updates</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> adding functionalities</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> ftp acces</h6>
                        <h6 class="card-subtitle"><i class="fa fa-check" aria-hidden="true"></i> suport via <a href="https://anydesk.com" target="_blank">anydesk</a>(one hour/week)</h6>
                        <a class="btn btn-primary cardBtn" href="/wordpress-plan">Select</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer}}
