#faq-overlay-support
  background: url('/images/ns5FAQ.jpg') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  height: 100%
  overflow: hidden

#faq-overlay
  background: rgba(0,0,0, 0.6)
  overflow: hidden
  height: 100%
  z-index: 2


